@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-primary: 15 53 64;
		--color-text: 19 72 87;
		--color-secondary: 209 242 253;
		--bg-color: 235 250 254;
	}
}

/* body {
	background-color: var(--bg-color);
} */
